@charset "utf-8";

/*
============================================
    filename: cssReset.css
============================================
    Author: Paul Legere
    Date: 04/04/2021 
*/

/* Main Style Reset */

article, aside, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

/* Typography Styles */

address, article, aside, blockquote, body, cite, div, dl, dt, dd, em, figcaption, figure, footer, h1, h2, h3, h4, h5, h6, header, html, img, li, main, nav, ol, p, section, span, ul {
    background: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

header ul {
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style: none;
    list-style-image: none;
}

nav a {
    text-decoration: none;
}

body {
    line-height: 1;
}